name: Check

on: [ push, workflow_dispatch ]

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black
          pip install -r requirements.txt

      - name: Format with black
        run: |
          black .

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'refactor: format with black'
          remove: '-r --cached -f translations data ipc skin_rendering lore_rendering'