name: Format Code with Black

on:
  push:
    branches:
      - 'main'
      - 'release/**'
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
      - 'release/**'

permissions: write-all

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black
          pip install -r requirements.txt

      - name: Format with black
        run: |
          black .

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'style: format with black'
          default_author: github_actions
